<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,user-scalable=1.0,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="../css/shopcar.css">
	<script src="../js/jquery-1.9.0.min.js"></script>
	<script src="../js/jquery.cookie.js"></script>
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js">
	</script>
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular-route.min.js">
	</script>
	<script src="https://cdn.bootcss.com/angular-ui-router/1.0.3/angular-ui-router.min.js">
	</script>
</head>
<body>
<div class="all" ng-app="myapp">
	<div class="top">
		<div class="top-le">
			<img src="../img/register.img/left_03.gif">
		</div>
		<div class="top-mi">我的购物车</div>
		<div class="top-ri">编辑</div>
	</div><!--top部分-->
	<div class="center">
		<div class="green">
			<div class="center-center">
				<div class="center-text">
					<p>还差¥751即可免运费</p>
				</div>
				<div class="a-text"><a href="">去凑单>></a></div>
			</div>
		</div><!--凑单部分-->
		<p class="cart-title"><span>非促销商品</span></p>


		<ul class="ul">
			<li class="content">
				<div class="con-le">
					<input type="checkbox">
				</div>
				<div class="con-ce">
					<img src="../img/top2.jpg">
				</div>
				<div class="con-ri">
					<p>
						<a href="">花王乐而雅 零触感超薄量多日用护翼卫生巾（超薄瞬吸S系列，日用25cm）
						</a>
					</p>
					<div class="pri-box">
						<div class="price">¥49</div>
						<div class="number" ng-controller="ctrl">
							<div class="less" ng-click="fun()">-</div>
							<input class="num" value="1" ng-model="text">
							<div class="more" ng-click="fun1()">+</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!--加入的购物车商品-->




		<div class="about">
			<p class="cart-title">
				<span>超值换购（满238元限购一份）</span>
			</p>
			<hr />
			<ul class="more-pro">
				<li class="pro">
					<div class="pro-img">
						<img src="../img/register.img/1-1.JPG">
					</div>
					<div class="text-pro">
						<p><a href="">澳洲谷饲肥牛火锅片</a></p>
						<p>350克</p>
						<p>
							<span>¥36</span>
							<span><s>¥66</s></span>
						</p>
					</div>
					<div class="reg-img">
						<img src="../img/register.img/555_03.gif">
					</div>
				</li>

				<li class="pro">
					<div class="pro-img">
						<img src="../img/register.img/1-2.JPG">
					</div>
					<div class="text-pro">
						<p><a href="">金凯利 爱尔兰风味黄油 （淡味）</a></p>
						<p>200克</p>
						<p>
							<span>¥27</span>
							<span><s>¥32</s></span>
						</p>
					</div>
					<div class="reg-img">
						<img src="../img/register.img/555_03.gif">
					</div>
				</li>
				<li class="pro">
					<div class="pro-img">
						<img src="../img/register.img/1-3.JPG">
					</div>
					<div class="text-pro">
						<p><a href="">江苏有机大米 2.5kg（苏北）</a></p>
						<p>2.5公斤</p>
						<p>
							<span>¥34</span>
							<span><s>¥44</s></span>
						</p>
					</div>
					<div class="reg-img">
						<img src="../img/register.img/555_03.gif">
					</div>
				</li>
			</ul>
		</div>

		<ul class="money">
			<li>
				<input type="checkbox">
				<p>全选</p>
			</li>
			<li class="money-li">
				<p>合计：￥49</p>
				<p>以优惠：￥0   运费：￥0</p>
			</li>
			<li class="count"><button>结算</button></li>
		</ul>

	</div>





</div>
</body>
<script>
    var app=angular.module("myapp",[]);
    app.controller("ctrl",function ($scope) {
        $scope.text=1;
        $scope.fun=function () {
            var value=Number($scope.text);
            console.log(value)
            if($scope.text<=0){
                $scope.text=0
			}
			else{$scope.text--}

            }

        $scope.fun1=function () {
            $scope.text+=1
        }
        })
</script>
</html>
